services:
  docs:
    image: python:3.14.3-alpine3.22@sha256:b5664ceb5614fb091fa07f4bb30869cefbabed90f4551bcff9c5a86f0468388b
    entrypoint: [ ]
    command: sh -c "cd docs && pip install -r requirements.txt && mkdocs serve --dev-addr=0.0.0.0:8000"
    volumes:
      - .:/docs
    ports:
      - 8000:8000
