name: Benchmarks (Pull Request)

on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize

permissions:
  checks: write
  pull-requests: write

jobs:
  benchmark_pr_branch:
    name: Bencher (Pull Request)
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
      - name: Run benchmarks
        id: run
        run: |
          ./gradlew benchmark
          echo "result_file=$(find . -type f -name 'jvm.json')" >> $GITHUB_OUTPUT
      - uses: bencherdev/bencher@main
      - name: Track benchmark result with Bencher
        run: |
          bencher run \
          --project d1158d5b-df59-4769-9ff0-8b2fd3d648b0 \
          --token '${{ secrets.BENCHER_API_TOKEN }}' \
          --branch "$GITHUB_HEAD_REF" \
          --start-point "$GITHUB_BASE_REF" \
          --start-point-hash '${{ github.event.pull_request.base.sha }}' \
          --start-point-clone-thresholds \
          --start-point-reset \
          --testbed ubuntu-latest \
          --err \
          --github-actions '${{ secrets.GITHUB_TOKEN }}' \
          --adapter java_jmh --file ${{ steps.run.outputs.result_file }}
