name: Tests (Examples)

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  ktor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
      - name: Run Tests
        run: ./gradlew check
        working-directory: ./examples/ktor
