name: Tests (Examples)
on:
  push:

permissions:
  contents: read

jobs:
  ktor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
      - name: Run Tests
        run: ./gradlew check
        working-directory: ./examples/ktor
