name: Tests

on:
  push: # Run tests on every push
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Run Tests
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: check
