name: Validate PR title

on:
  pull_request:
    types: [ opened, synchronize, reopened, edited ]

permissions:
  pull-requests: read

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          requireScope: false
          scopes: |
            benchmark
            core
            deps
            examples
            ktor
            stitching
